#navbar {
  display: flex;
  background-color: rgb(50, 50, 50);
  height: 10vh;
}

#navbar a {
  text-align: center;
  color: rgb(200, 200, 200);
  text-decoration: none;
  justify-content: center;
  margin: auto;
  width: 50%;
}